#brad {
  display: none;
}

#george {
  display: none;
}

#taylor {
  display: none;
}

#steve {
  display: none;
}

#louis {
  display: none;
}

#sean {
  display: none;
}

#angelina {
  display: none;
}

#scarlett {
  display: none;
}

#jennifer {
  display: none;
}

#whoopi {
  display: none;
}

#rosie {
  display: none;
}

#daisy {
  display: none;
}
